<div class='order container'>
  <table class="lineItems table-bordered">
    <thead>
      <th>#</th>
      <td>Image</td>
      <td>Product Name</td>
      <td>Price</td>
      <td>Count</td>
    </thead>
    <tbody>
      <!--Display OrderList-->
    </tbody>
  </table>
  <button type="button" class="purchase btn btn-primary btn-lg">Purchase</button>
</div>

<%= javascript_include_tag 'orders/new' %>
