<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">E Commerce Demo</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <a href="#"><span class="glyphicon glyphicon-user"></span> Sign In</a>
    <a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </div>
</nav>
