<div class = 'container'>
  <div class = 'row'>
    <%= render 'nav_bar'%>
  </div>
  <div class = 'row'>
    <div class = 'col-md-9'>
      <%= render 'form'%>
    </div>
    <div class = 'col-md-3'>
    </div>
  </div>
  <div class = 'row'>
    <h3>Variants</h3>
    <td><%= button_to "Create Variant", new_admin_product_variant_path(product_id: @product.id), method: 'get',class: 'btn btn-outline-success'%></td>
    <%= render '/admin/variants/variants_list'%>
  </div>
</div>
